body {
  font-family: 'Cascadia Mono Semibold', monospace;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f1a6f7;
}

.centered-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
  z-index: 1;
}

.row-container {
  /* margin-top: 30px; Adjust the margin to your preference */
  display: flex;
  justify-content: center;
}

.row {
  position: absolute;
  top:75%;
  left:50%;
  transform: translate(-50%, -75%);
  /* margin-top: 75%; 
  width: 50%;
   */
  /* top: 50%; */
  display: flex;
  justify-content: center;
}


.linkImage {
  height: 85px;
}

.linkImageParent {
  display: flex;
  width: 150px;
  align-items: center;
  flex-direction: column;
}

.linkImageParent b {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 18px;
}

.sticky {
  position: fixed;
  top: 45%;
  right: 25px;
  transform: translateY(-50%);
  z-index: 1;
}

.sticky a {
  display: block;
  color: yellow;
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
  padding: 3px;
  padding-right: 5px;
}

.sticky a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  padding: 3px;
  border-color: lightgreen lightgreen transparent transparent;
}

.white-section {
  background-color: white;
  padding: 50px 0;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 100vh;
}

@media only screen and (max-width: 600px) {
  .sticky {
    display: none;
  }
}